<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "images/apple-touch-icon-57x57.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "images/apple-touch-icon-114x114.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "images/apple-touch-icon-72x72.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "images/apple-touch-icon-144x144.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "images/apple-touch-icon-120x120.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "images/apple-touch-icon-152x152.png" | relative_url }}" />
		<link rel="icon" type="image/png" href="{{ "images/favicon-32x32.png" | relative_url }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ "images/favicon-16x16.png" | relative_url }}" sizes="16x16" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relative_url }}"  />
		<meta name="application-name" content="Urn"/>
		<meta name="msapplication-TileColor" content="#E5A64" />
		<meta name="msapplication-TileImage" content="{{ "images/mstile-144x144.png" | relative_url }}" />
	</head>

	<body>
		<header>
			<div class="pull-left button-group">
				<a href="{{ "/" | relative_url }}" class="title">
					<img src="{{ "images/logo.png" | relative_url }}" alt="The Urn Logo" title="Urn"/>
				</a>
			</div>
			<div class="pull-right button-group menu-group hide-tiny">
				<a href="https://gitlab.com/urn/urn" title="View on GitLab">
					<span>
						<span class="fa fa-gitlab" aria-hidden="true"></span>
						GitLab
					</span>
				</a>
				<a href="https://github.com/SquidDev/urn" title="View on GitHub">
					<span>
						<span class="fa fa-github" aria-hidden="true"></span>
						GitHub
					</span>
				</a>
			</div>
		</header>

		<div class="container">
			<div class="content">
				{{content}}
			</div>
			<div class="sidebar">
				<h2>Tutorial</h2>
				<ul>
					{% for page in site.pages %}
						{% if page.url contains "tutorial/" %}
							<li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<h2>All libraries</h2>
				<ul>
					{% for page in site.pages %}
						{% if page.url contains "docs/" %}
							<li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>
